<%= form_with(model: farmer_product, local: true) do |form| %>
  <% if farmer_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farmer_product.errors.count, "error") %> prohibited this farmer_product from being saved:</h2>

      <ul>
      <% farmer_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :product_id %></br>
    <%= form.select(:product_id, options_for_select(@products, @farmer_product.product_id), { include_blank: true, class:"form-control" })%>
  </div>

  <div class="field form-group">
    <%= form.hidden_field :farmer_id, class:"form-control", value: current_farmer.id%>
  </div>

  <div class="row">
    <div class="field form-group col-6">
      <%= form.label :amount %>
      <%= form.text_field :amount, class:"form-control"%>
    </div>
    <div class="field form-group col-6 my-auto">
      <%= form.label :size %></br>
      <%= form.select(:size, options_for_select(@sizes, @farmer_product.size), { include_blank: true, class:"form-control" })%>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label "Price (in dollars)" %>
    <%= form.text_field :price, class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
