<p id="notice"><%= notice %></p>

<h1>Farm Locations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location address</th>
      <th>Open time</th>
      <th>Close time</th>
      <th>Phone number</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farm_locations.each do |farm_location| %>
      <tr>
        <td><%= farm_location.name %></td>
        <td><%= farm_location.location_address %></td>
        <td><%= farm_location.open_time %></td>
        <td><%= farm_location.close_time %></td>
        <td><%= farm_location.phone_number %></td>
        <td><%= farm_location.email %></td>
        <td><%= link_to 'Show', farm_location %></td>
        <td><%= link_to 'Edit', edit_farm_location_path(farm_location) %></td>
        <td><%= link_to 'Destroy', farm_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farm Location', '/farmer_app/location_search', class:"btn btn-primary" %>
